[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Application qui donne la solution aux taquin en utilisant la librairy numpy pour representer la matrix en quastion
[access "refs/*"]
	owner = group user/Jessica da Rosa (JessicaDaRosa)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jessica da Rosa (JessicaDaRosa)
	label-Verified = -1..+1 group user/Jessica da Rosa (JessicaDaRosa)
	push = group user/Jessica da Rosa (JessicaDaRosa)
	read = group user/Jessica da Rosa (JessicaDaRosa)
	rebase = group user/Jessica da Rosa (JessicaDaRosa)
	removeReviewer = group user/Jessica da Rosa (JessicaDaRosa)
	submit = group user/Jessica da Rosa (JessicaDaRosa)
[access "refs/heads/*"]
	create = group user/Jessica da Rosa (JessicaDaRosa)
	push = +force group user/Jessica da Rosa (JessicaDaRosa)
	pushMerge = group user/Jessica da Rosa (JessicaDaRosa)
	read = group user/Jessica da Rosa (JessicaDaRosa)
[access "refs/tags/*"]
	push = group user/Jessica da Rosa (JessicaDaRosa)
	push = +force group user/Jessica da Rosa (JessicaDaRosa)
